<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="ibankapp" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePeristence</provider>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.connection.driver_class" value="org.gjt.mm.mysql.Driver"/>
            <property name="hibernate.connection.username" value="root"/>
            <property name="hibernate.connection.password" value="456"/>
            <property name="hibernate.connection.url"
                      value="jdbc:mysql://localhost:3306/itcast?useUnicode=true"/>
        </properties>
    </persistence-unit>
</persistence>